<div [ngStyle.xs]="{'width':'100%'}" class="addBox">
  <div class="add">
    <div class="addNav">
      首页 / 文章详情
    </div>

    <div class="detailBody">
      <div class="title">{{articleDetail.title}}</div>
      <div class="dateAndAuthor">{{articleDetail.author}} {{articleDetail.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
      </div>
      <div class="description">{{articleDetail.description}}</div>
      <div class="content ck-content" [innerHTML]="articleDetail.content"></div>

      <div class="moreAction">
        <div class="oneAction">
          <mat-icon>visibility</mat-icon>
          <span>{{articleDetail.read}}</span>
        </div>
        <div (click)="like(articleDetail.id)" [ngClass]="{'like' : doILike}" class="oneAction">
          <mat-icon>thumb_up_alt</mat-icon>
          <span>{{articleDetail.like}}</span>
        </div>
        <div class="oneAction">
          <mat-icon [matMenuTriggerFor]="menu1">more_vert</mat-icon>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>
              <mat-icon class="moreIcon">edit</mat-icon>
              <span class="moreText">修改1</span>
            </button>
            <button mat-menu-item>
              <mat-icon class="moreIcon">delete</mat-icon>
              <span class="moreText">删除</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <div class="comments">
        <div>评论({{articleDetail.comments}})：</div>

        <div class="input">
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="addCommentsContent" type="text" matInput placeholder="enter sth">
            <button (click)="addComments()" mat-button matSuffix>
              <mat-icon class="sendComments">send</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div *ngIf="commentsList">
          <div *ngFor="let oneComments of commentsList" class="commentsList">
            <app-comments [commentsData]="oneComments" [type]="'comments'"></app-comments>
            <div *ngIf="oneComments.replyResult" class="reply">
              <app-comments *ngFor="let oneReply of oneComments.replyResult" [commentsId]="oneComments.id" [replyData]="oneReply" [type]="'reply'"></app-comments>
            </div>
          </div>
        </div>

        <div *ngIf="!commentsList">no comments</div>

      </div>
    </div>
  </div>
</div>
