mat-sidenav-container {
  min-height: calc(100% - 64px);
  height: auto !important;
}

.toolBarLeft {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.webTitle {
  margin-left: 10px;
}
