.body {
  margin: 20px auto 40px;
  width: 80%;
}

.homeBox {
  background: #ffffff;
}

.title {
  padding: 14px 20px;
  border-bottom: 1px solid #c5b6dc;
  color: #a17de1;
  font-weight: 600;
}

.item {
  padding: 20px;
  &:nth-child(1) {
    border-right: 1px solid #c5b6dc;
  }
}

.one + .one {
  margin-top: 20px;
}

.otherMsg {
  background: #fefbff;
  box-shadow: -1px 2px 6px #ceccf2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  > .msg {
    font-size: 12px;
    color: #978fa5;
  }
  .msg + .msg {
    margin-top: 8px;
  }
}

.moreIcon {
  color: #9782be;
}

.moreText {
  color: #686868;
}
