<app-picture-rotate></app-picture-rotate>

<div class="body" [ngStyle.xs]="{'width':'100%','padding.px':'0 10'}">
  <div fxLayout="column" class="homeBox">
    <div fxFlex class="title">
      所有的文章
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutAlign.xs="start">
      <div [ngStyle.sm]="{'border-right':'none'}" [ngStyle.xs]="{'border-right':'none'}" class="item" fxFlex>

        <div *ngIf="articleList && articleList.length>0">
          <div class="one" *ngFor="let oneArticle of articleList">
            <app-one-article (like)="optLike($event)" [oneArticle]="oneArticle"></app-one-article>
          </div>
        </div>

        <div *ngIf="articleList.length===0">没有更多。。。</div>

      </div>
      <div class="item" fxFlex="20%" fxShow.xs="false" fxShow.sm="false">
        <div class="otherMsg">
          <div class="msg">网站总访问量：1000</div>
          <div class="msg">今日总访问量：10</div>
        </div>
      </div>

    </div>

  </div>
</div>
