<div [ngStyle.xs]="{'width':'100%'}" class="addBox">
  <div class="add">
    <div class="addNav">
      首页 / 添加文章
    </div>

    <div class="addContainer">

      <div class="oneInput">
        <h4 class="titleName">标题：</h4>
        <mat-form-field appearance="outline">
          <mat-label>标题</mat-label>
          <input [(ngModel)]="title" matInput type="text" placeholder="请填写标题" required maxlength="50">
          <mat-error>标题不能为空</mat-error>
        </mat-form-field>
      </div>

      <div class="oneInput">
        <h4 class="titleName">简介：</h4>
        <mat-form-field appearance="outline">
          <mat-label>简介</mat-label>
          <input [(ngModel)]="description" matInput type="text" placeholder="请填写简介" required maxlength="100">
          <mat-error>简介不能为空</mat-error>
        </mat-form-field>
      </div>

      <div class="fixWidth">
        <h4 class="titleName">封面：</h4>
        <div class="chooseCover">
          <div class="upload">
            <button (click)="imgFile.click()" mat-stroked-button color="primary">上传</button>
            <input #imgFile (change)="fileChange($event)" style="display: none" type="file">
          </div>
          <div class="coverNotice">上传新图片 <span>or</span> 从右边选择一张图片</div>
          <div>
            <button mat-stroked-button color="primary" (click)="openDialog()">打开</button>
          </div>
        </div>

        <div [ngClass]="{'noCover':coverImg === ''}" class="showCover"
             [ngStyle]="coverImg === '' ? {border:'1px solid #f44336'} : ''">
          <span *ngIf="coverImg===''">尚未选择封面</span>
          <img *ngIf="coverImg!==''" [src]="coverImgType && coverImgType === 'upload' ?
            uploadImg.bypassSecurityTrustUrl(coverImg) :
            coverImgType === 'add' ? ('../../../assets/coverImg/' + coverImg) : coverImg"
               alt="">
        </div>
      </div>

      <div class="oneInput">
        <h4 class="titleName">设置为个人可见：</h4>
        <mat-checkbox [(ngModel)]="isPrivate" color="primary">
          是
        </mat-checkbox>
      </div>

      <div class="oneInput">
        <h4 class="titleName">内容：</h4>
        <ckeditor [config]="editConfig" [editor]="Editor" [(ngModel)]="model.editorData" (ready)="onReady($event)"></ckeditor>
      </div>

      <div class="fixWidth">
        <button mat-raised-button type="submit" (click)="submit()" color="primary">提交</button>
      </div>

    </div>

  </div>
</div>


