<div class="mainComments">
  <div class="commentsPhoto">
    <img src="{{type === 'comments' ? commentsData.photo : replyData.fromUserPhoto}}" alt="">
  </div>
  <div class="commentsRight">
    <div class="firstLine">
      <a #sayer routerLink="#">{{type === 'comments' ? commentsData.userName : replyData.fromUserName}}：</a>
      <a *ngIf="type === 'reply'" routerLink="#">@{{replyData.toUserName}} </a>
      <span class="commentsContent">{{type === 'comments' ? commentsData.content : replyData.content}}</span>
    </div>
    <div class="secondLine">
      <div class="year">
        {{type === 'comments' ? (commentsData.createTime | date: 'yyyy-MM-dd HH:mm:ss') :
        replyData.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}
      </div>
      <div class="moreDetail">
        <!--<div class="first">-->
          <!--<mat-icon>thumb_up_alt</mat-icon>-->
          <!--<span>0</span>-->
        <!--</div>-->
        <div class="second" (click)="openReply(sayer)">
          回复
        </div>
      </div>
    </div>
  </div>
</div>
