<div class="box">
  <div #picBox class="picBox">
    <div class="one" location="https://www.baidu.com">
      <img src="../../../assets/img/picture.jpg" alt="">
    </div>
    <div class="one" location="https://www.sina.com.cn">
      <img src="../../../assets/img/picture.jpg" alt="">
    </div>
    <div class="one" location="https://www.qq.com">
      <img src="../../../assets/img/picture.jpg" alt="">
    </div>
  </div>
  <div #points class="points">
    <div class="point"></div>
  </div>
</div>
