<div class="oneArticle">

  <a routerLink="/pages/detail/{{oneArticle.id}}">

    <div class="articleHead">
      <div class="headLeft">
        <div class="photo">
          <img src="{{oneArticle.photo}}" alt="">
        </div>
        <div class="name">{{oneArticle.author}}</div>
      </div>
      <div class="headRight">{{oneArticle.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
    </div>

    <div class="articleBody">
      <div class="cover">
        <img src="{{oneArticle.cover}}" alt="">
      </div>
      <div class="detail">
        <div class="articleTitle">{{oneArticle.title}}</div>
        <div [style.-webkit-box-orient]="'vertical'" class="articleDescription">{{oneArticle.description}}</div>
      </div>
    </div>

    <!--todo：观看人数，喜欢人数，评论人数只能显示4位，多出做1W+处理，自定义管道-->
    <div class="articleFoot">
      <div class="oneOperation">
        <mat-icon>visibility</mat-icon>
        <span>{{oneArticle.read}}</span>
      </div>
      <div class="oneOperation">
        <mat-icon>thumb_up_alt</mat-icon>
        <span>{{oneArticle.like}}</span>
      </div>
      <div class="oneOperation">
        <mat-icon>sms</mat-icon>
        <span>{{oneArticle.comments}}</span>
      </div>
      <div class="oneOperation">
        <mat-icon (click)="$event.stopPropagation();$event.preventDefault()" [matMenuTriggerFor]="menu">more_vert
        </mat-icon>
        <mat-menu #menu="matMenu">
          <button (click)="modifyPage(oneArticle.id)" [disabled]="!isLogin || !judgeUser" mat-menu-item>
            <mat-icon class="moreIcon">edit</mat-icon>
            <span>修改</span>
          </button>
          <button (click)="delete(oneArticle.id)" [disabled]="!isLogin || !judgeUser" mat-menu-item>
            <mat-icon class="moreIcon">delete</mat-icon>
            <span>删除</span>
          </button>
        </mat-menu>
      </div>
    </div>

  </a>

</div>
